<div class="detail-container">
  <div class="glass-card-detail" *ngIf="product()">
      <button pButton icon="pi pi-arrow-left" label="Volver al catálogo" 
              class="p-button-text p-button-secondary mb-4 back-btn" (click)="regresar()"></button>
      
      <div class="product-grid">
          <div class="image-section">
              <img [src]="product()?.image" [alt]="product()?.title" class="main-img" #imgDetail (error)="imgDetail.src = 'https://placehold.co/600x600?text=Imagen+No+Disponible'"/>
          </div>
          
          <div class="info-section">
            <span class="category-badge">{{ product()?.category }}</span>
            <h1>{{ product()?.title }}</h1>
            
            <p class="description">{{ product()?.description }}</p>
            
            <div class="selection-area">
                <div class="input-field">
                    <label>Cantidad</label>
                    <p-dropdown [options]="[1,2,3,4,5]" placeholder="Selecciona" appendTo="body" styleClass="custom-dropdown"></p-dropdown>
                </div>
            </div>
        
            <div class="price-action-box">
                <div class="price-tag">
                    <small>Precio total</small>
                    <span class="amount">{{ product()?.price | currency:'S/' }}</span>
                </div>
                <button pButton label="Añadir al carrito" icon="pi pi-shopping-cart" class="p-button-success"></button>
            </div>
        </div>           
          </div>
      </div>
  </div>

  <div class="glass-card-detail" *ngIf="loadingService.isLoading()">
      <div class="grid">
          <div class="col-12 md:col-6">
              <p-skeleton width="100%" height="350px" borderRadius="16px"></p-skeleton>
          </div>
          <div class="col-12 md:col-6">
              <p-skeleton width="30%" height="1.5rem" styleClass="mb-4"></p-skeleton>
              <p-skeleton width="90%" height="3rem" styleClass="mb-4"></p-skeleton>
              <p-skeleton width="100%" height="10rem" styleClass="mb-4"></p-skeleton>
              <p-skeleton width="40%" height="3rem"></p-skeleton>
          </div>
      </div>
  </div>
